<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/img/wwArtboard 1.png" type="image/x-icon"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Livros disponíveis</title>
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a href="#" class="navbar-brand"><img src="../public/img/wwAsset 6.png" alt="LOGO" height="70px" width="130px" style="margin: 10px;"></a>
          <form class="d-flex" role="search" action="/filtros" method="POST">
            <input class="form-control me-3" type="search" placeholder="Pesquisar livro, autor ou editora..." aria-label="Search" name="filtro">
            <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <div class="container-p">
            <p class="usuario">Bem-vindo <b><%= usuario %></b> <i id="logOut" class="fa-solid fa-right-from-bracket"></i></p>
            <p class="usuarios">Usuários registrados: <b><%= qntdUsuarios %></b></p>
          </div>
        </div>
    </nav>

    <% if(status == 201){ %>
      <div class="parametros">
        <h3>Nenhuma busca encontrada com esses parâmetros!</h3>
      </div>
    <% } %>

    <% if(status == 200){ %>
    <div class="divLivros">
      <% for(let i = 0; i < listaLivros.length; i++) {%>
        <form id='<%= i %>' class="formLivros">
            <p class="tituloLivro"><b><%= listaLivros[i].titulo %></b></p>
            <p>Autor: <%= listaLivros[i].autor %></p>
            <p>Qtd. Págs: <%= listaLivros[i].numeroPaginas %></p>
            <p>Editora: <%= listaLivros[i].editora %></p>
            <img src="<%= listaLivros[i].capa %>" alt="CAPA" height="140px" width="110px" style="margin: 10px;"><br>
            <a href="../public/arquivosPdf/<%= listaLivros[i].conteudo %>" download><i id="livro" class="fa-solid fa-file-pdf"></i></a>
        </form>
        <% } %>
    </div>
    <% } %>

    <footer class="padding-64 footer-color">
      <div class="link-footer">
          <p>
              Desenvolvido por
              <a href="https://www.linkedin.com/in/bruno-victor-oliveira-duarte/">Bruno Duarte</a>&copy;
          </p>
      </div>
      <div class="icones-content-1">
          <a href="https://github.com/Brunodkali" target="_blank"><i class="fa fa-github hover-opacity"></i></a>
          <a href="https://www.linkedin.com/in/bruno-victor-oliveira-duarte/" target="_blank"><i class="fa fa-linkedin hover-opacity"></i></a>
          <a href="https://codeovershadow-port.netlify.app/" target="_blank"><i class="fa fa-google hover-opacity"></i></a>
          <a href="javascript:void(0)" id="share"><i class="fa-solid fa-share-nodes"></i></a>
          <a href="#" id="share"><i class="fa-solid fa-hand-holding-dollar"></i></a>
      </div>
  </footer>

    <!-- Ícones -->
    <script src="https://kit.fontawesome.com/a9ac96b7ba.js" crossorigin="anonymous"></script>
    <!-- JS -->
    <script type="module" src="../public/js/app.js"></script>
</body>
</html>